* {
  font-family: 'Roboto' sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-left: 5px solid #49BEB7;
  border-right: 5px solid #FACF5A;
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: #FF5959;
}

.price {
  font-size: 22px;
  padding: 5px 0;
}

.item-name {
  font-size: 1.7rem;
  padding-top: 10px;
}

.card button {
  outline: none;
  border: none;
}

.card input {
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.input-increment {
  height: 30px;
}

.increment {
  font-size: 1.1rem;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  padding: 5px;
  margin: 5px;
  color: #FF5959;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-increment button:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.button-increment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.add-to-cart-button {
  font-size: 1.1rem;
  width: 100%;
  padding: 15px;
  color: #FF5959;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add-button button:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #085F63;
  color: white;
  padding: 10px;
  font-family: 'Roboto' sans-serif;
  font-size: 1.2rem;
}

.navbar > span {
  margin-right: auto;
  margin-left: 65px; 
}

.links-navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 65px;
  align-items: center;
}

.link {
  margin: 0 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.item-quantity {
  margin: 0 20px;
}

.lower-navbar {
  margin-top: 5px;
}

.icon {
  margin-right: auto;
  margin-left: 65px;
  height: 90%;
}

.heading {
  padding: 30px;
  font-size: 3rem;
}

.home-container {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #FACF5A;
}

.home-container > img {
  border-top: 10px solid #FF5959;
  border-bottom: 10px solid #FF5959;
  padding: 15px 0;
}

.shop-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  height: 80%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 85px;
}

.cart-container {
  display: grid;
  gap: 50px;
  margin-top: 80px;
}

.cart {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart h1 {
  font-size: 3rem; 
}

.cart-image {
  width: 150px;
}

